<html>
    <head>
        <title>form</title>
    </head>

    <body>
        <h1 style="text-align: center">sign-up</h1>

        <form action="https://backendapisih.herokuapp.com/api/v1/form/enrollment" method="post" style="text-align: center;">
            Year:
            <input type="number" required name="Year">
            <br>
            <br>
             Counselling:
            <input type="text" required name="Counselling">
            <br>
            <br>
            College:
            <input type="text" required name="College">
            <br>
            <br>
            Branch:
            <input type="text" required name="Branch">
            <br>
            <br>
            Intake:
            <input type="number" required name="Intake">
            <br>
            <br>
            Enrollment:
            <input type="number" required name="Boys_Enrollment">
            <br>
            Enrollment:
            <input type="number" required name="Girls_Enrollment">
            <br>
            Enrollment:
            <input type="number" required name="Total_Enrollment">
            <br>
            <br>
            Opening_rank:
            <input type="number" required name="Opening_rank_General">
            <br>
            <br>
            Closing_rank:
            <input type="number" required name="Closing_rank_General">
            <br>
            Opening_rank:
            <input type="number" required name="Opening_rank_ST">
            <br>
            <br>
            Closing_rank:
            <input type="number" required name="Closing_rank_ST">
            <br>
            Opening_rank:
            <input type="number" required name="Opening_rank_SC">
            <br>
            <br>
            Closing_rank:
            <input type="number" required name="Closing_rank_SC">
            <br>
            Opening_rank:
            <input type="number" required name="Opening_rank_TFWE">
            <br>
            <br>
            Closing_rank:
            <input type="number" required name="Closing_rank_TFWE">
            <br>
            Opening_rank:
            <input type="number" required name="Opening_rank_SEBC">
            <br>
            <br>
            Closing_rank:
            <input type="number" required name="Closing_rank_SEBC">
            <br>
            Opening_rank:
            <input type="number" required name="Opening_rank_EWS">
            <br>
            <br>
            Closing_rank:
            <input type="number" required name="Closing_rank_EWS">
            <br>
    
            
            <br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>