#Efmainform{
    background-color: rgb(69, 107, 235);
    width: 50rem;
    height: 33rem;
    border-radius: 10px;
    margin-left: 25rem;
    margin-bottom: 100px;
}

#Efmtxt{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
    text-align: center;
    position: relative;
    color: rgb(44, 43, 43);
    font-weight: 800;
}

.EfDrop1txtt{
    margin-left: 10.5rem;
    border-radius: 5px;
    height: 40px;
    margin-top: 20px;
    margin-right: 10px;
}
.form-select{
    width: 20rem;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    margin-left: 169px;
    margin-top: 10px;
}

#EfDrop1txt{
    text-align: center;
    position: absolute;
    margin-top: 20px;
    font-size: 20px;
    margin-right: 100px !important;
}
.EfDrop2txt{
    text-align: center;
    position: absolute;
    margin-top: 27px;
    font-size: 20px;
    margin-right: 100px !important;
}

.Efdropdownmain{
    margin-left: 100px;
}

#EfSumbit{
    margin-left: 21rem !important;
    margin-top: 25px;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    color: aliceblue;
    font-weight: 800;
    background-color: rgb(12, 107, 10);
}